@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&family=Open+Sans:ital,wght@1,500&family=Poppins:ital@0;1&family=Roboto+Slab&family=Ubuntu:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

:root {
  --Dark-Blue: hsl(209, 23%, 22%);
  /* (Dark Mode Elements) */
  --Very-Dark-Blue: hsl(207, 26%, 17%);
  /* (Dark Mode Background) */
  --Very-Dark-Blue-text: hsl(200, 15%, 8%);
  /* (Light Mode Text) */
  --Dark-Gray: hsl(0, 0%, 52%);
  /* (Light Mode Input) */
  --Very-Light-Gray: hsl(0, 0%, 98%);
  /* (Light Mode Background) */
  --White: hsl(0, 0%, 100%);
  /* (Dark Mode Text & Light Mode Elements) */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Very-Dark-Blue) ;
  color: var(--White);
  height: 50px;
  padding: 0 50px;
}

.home{
  background-color: var(--Dark-Blue);
}

.home-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card{
  background-color: var(--Very-Dark-Blue) ;
  width: 200px;
padding: 10px 10px;
margin: 50px;
color: var(--White);
}
